{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <h2>Admin.</h2>

    <a class="btn btn-primary" href="{{ path('adminSneakers')}}" role="button">SNEAKERS</a>



{% endblock %}
