{% extends 'base.html.twig' %}

{% block title %}AdminSneakers{% endblock %}

{% block body %}

    <h2>AdminSneakers.</h2>

    <a class="btn btn-primary" href="{{ path('addSneaker') }}" role="button">ADD SNEAKERS</a>



{% endblock %}
